/* Target the specific section by its ID */
#hero2 {
  /* Force the container to take full width and remove padding */
  .container {
    max-width: 100% !important;
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

/* NEW: Global utility to break out of standard page margins */
.full-width-iframe-container {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}